@import "../../vendor/variables";

.button {
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  display: flex;
  box-sizing: content-box;
  padding: 3px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  background: url("../../assets/exit-icon.svg") no-repeat center;
}

.button:hover {
  cursor: pointer;
  background-color: $light-gray;
}

  