.button {
    color: white;
    background-color: #3B5BDB;
    width: 280px;
    font-family: 'Inter';
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}

.button:hover {
    cursor: pointer;
    background-color: #2D52E3;
}