.form {
  width: 90%;
  max-width: 340px;
  min-height: 300px;
  padding: 0 15px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: space-between;
}

.fieldset {
  padding: 0;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  outline: none;
}

.title {
  color: white;
  margin-bottom: 40px;
}
.buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.linker {
  margin-top: 10px;
}
